################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Help/HelpSample/.vs/CHMReader/v16
